.rootWrapper {
  height: 100%;
  overflow-y: auto;
}

.centerInPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
